* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #c6cfa2 ;
    color: #303a21;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.boardContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: auto;
    border: 2px solid black;
    gap: 4px;
    padding: 2px;
    margin-bottom: 50px;
}

.divGrid{
    width: 30px;
    height: 30px;
    background-color: #303a21;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.4;
}

.blockDrawed{
    opacity: 1;
}

select{
    margin-left: 35px;
}

.redBlock{
    background-color: rgb(148, 54, 54);
}